# Assignment 2 - Class Work
## Topic: To understand creation and manipulation of DataFrames using Pandas.

### Question 1
Create one dataframe for the student record of 10 students with student basic information such as Rollno, name, age, Department.

In [1]:
import pandas as pd

# ---------- INPUT ----------
n = int(input("Enter number of students: "))

rollno, name, age, dept = [], [], [], []

for i in range(n):
    print(f"\nStudent {i+1}")
    rollno.append(int(input("Roll No: ")))
    name.append(input("Name: "))
    age.append(int(input("Age: ")))
    dept.append(input("Department: "))

df = pd.DataFrame({
    "Rollno": rollno,
    "Name": name,
    "Age": age,
    "Department": dept
})

print("\nDATAFRAME:\n", df)

Enter number of students:  10

Student 1

Roll No:  179
Name:  Alokparna Mitra
Age:  21
Department:  CSE

Student 2

Roll No:  248
Name:  Debarghaya Mitra
Age:  21
Department:  CSE

Student 3

Roll No:  68
Name:  Subhoshree Das
Age:  20
Department:  CSE IOTCSBT

Student 4

Roll No:  22
Name:  Anirban Barai
Age:  21
Department:  ECE

Student 5

Roll No:  86
Name:  Abhranil Das
Age:  20
Department:  EEE

Student 6

Roll No:  69
Name:  Trishit Ghosh
Age:  21
Department:  CSE IOTCSBT

Student 7

Roll No:  204
Name:  Diptomoy Das
Age:  19
Department:  CSE AI

Student 8

Roll No:  222
Name:  Aihir Sarkar
Age:  19
Department:  CSE AI

Student 9

Roll No:  9
Name:  22
Age:  22
Department:  ECE

Student 10

Roll No:  10
Name:  Shib
Age:  18
Department:  ECE

DATAFRAME:
    Rollno              Name  Age   Department
0     179   Alokparna Mitra   21          CSE
1     248  Debarghaya Mitra   21          CSE
2      68    Subhoshree Das   20  CSE IOTCSBT
3      22     Anirban Barai   21          ECE
4      86      Abhranil Das   20          EEE
5      69     Trishit Ghosh   21  CSE IOTCSBT
6     204      Diptomoy Das   19       CSE AI
7     222      Aihir Sarkar   19       CSE AI
8       9                22   22          ECE
9      10              Shib   18          ECE

### Question 2
Display starting 5 rows and end 5 rows.

In [2]:
# ---------- HEAD & TAIL ----------
k = int(input("\nHow many rows to show from start & end? "))
print("\nFirst rows:\n", df.head(k))
print("\nLast rows:\n", df.tail(k))

How many rows to show from start & end?  5

First rows:
    Rollno              Name  Age   Department
0     179   Alokparna Mitra   21          CSE
1     248  Debarghaya Mitra   21          CSE
2      68    Subhoshree Das   20  CSE IOTCSBT
3      22     Anirban Barai   21          ECE
4      86      Abhranil Das   20          EEE

Last rows:
    Rollno           Name  Age   Department
5      69  Trishit Ghosh   21  CSE IOTCSBT
6     204   Diptomoy Das   19       CSE AI
7     222   Aihir Sarkar   19       CSE AI
8       9             22   22          ECE
9      10           Shib   18          ECE

### Question 3
Print number of rows and columns.

In [3]:
# ---------- ROWS & COLUMNS ----------
print("\nNumber of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 10
Number of columns: 4

### Question 4
Print shape and description of dataset.

In [4]:
# ---------- SHAPE & DESCRIPTION ----------
print("\nShape:", df.shape)
print("\nDescription:\n", df.describe())

Shape: (10, 4)

Description:
            Rollno        Age
count   10.000000  10.000000
mean   111.700000  20.200000
std     92.569553   1.229273
min      9.000000  18.000000
25%     33.500000  19.250000
50%     77.500000  20.500000
75%    197.750000  21.000000
max    248.000000  22.000000

### Question 5
Print column name.

In [5]:
# ---------- COLUMN NAMES ----------
print("\nAvailable Columns:")
print(list(df.columns))

Available Columns:
['Rollno', 'Name', 'Age', 'Department']

### Question 6
Print data description and data info.

In [6]:
# ---------- DATA DESCRIPTION ----------
print("\nData Description:")
print(df.describe())

# ---------- DATA INFO ----------
print("\nData Info:")
df.info()

Data Description:
           Rollno        Age
count   10.000000  10.000000
mean   111.700000  20.200000
std     92.569553   1.229273
min      9.000000  18.000000
25%     33.500000  19.250000
50%     77.500000  20.500000
75%    197.750000  21.000000
max    248.000000  22.000000

Data Info:
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rollno      10 non-null     int64
 1   Name        10 non-null     str
 2   Age         10 non-null     int64
 3   Department  10 non-null     str
dtypes: int64(2), str(2)
memory usage: 452.0 bytes

### Question 7
Print a particular column.

In [7]:
# ---------- ONE COLUMN ----------
col = input("\nEnter column name to display: ")
print(df[col])

Enter column name to display:  Age

0    21
1    21
2    20
3    21
4    20
5    21
6    19
7    19
8    22
9    18
Name: Age, dtype: int64

### Question 8
Print two columns.

In [8]:
# ---------- TWO COLUMNS ----------
print("\nAvailable Columns:")
print(list(df.columns))
c1 = input("Enter first column: ")
c2 = input("Enter second column: ")
print(df[[c1, c2]])

Available Columns:
['Rollno', 'Name', 'Age', 'Department']

Enter first column:  Name
Enter second column:  Department

               Name   Department
0   Alokparna Mitra          CSE
1  Debarghaya Mitra          CSE
2    Subhoshree Das  CSE IOTCSBT
3     Anirban Barai          ECE
4      Abhranil Das          EEE
5     Trishit Ghosh  CSE IOTCSBT
6      Diptomoy Das       CSE AI
7      Aihir Sarkar       CSE AI
8                22          ECE
9              Shib          ECE

### Question 9
Print one and multiple rows.

In [9]:
# ---------- ROW SELECTION ----------
opt = input("\nSingle row or multiple rows? (single/multiple): ")

if opt == "single":
    idx = int(input("Enter row index: "))
    print(df.loc[idx])
else:
    s = int(input("Start index: "))
    e = int(input("End index: "))
    print(df.loc[s:e])

Single row or multiple rows? (single/multiple):  0
Start index:  0
End index:  1

   Rollno              Name  Age Department
0     179   Alokparna Mitra   21        CSE
1     248  Debarghaya Mitra   21        CSE

### Question 10
Print row based on condition.

In [10]:
# ---------- CONDITIONAL ROW ----------
print("\nAvailable Columns:")
print(list(df.columns))
cond_col = input("Enter column for condition: ")
val = int(input("Enter value (greater than): "))
print(df[df[cond_col] > val])

Available Columns:
['Rollno', 'Name', 'Age', 'Department']

Enter column for condition:  Age
Enter value (greater than):  20

   Rollno              Name  Age   Department
0     179   Alokparna Mitra   21          CSE
1     248  Debarghaya Mitra   21          CSE
3      22     Anirban Barai   21          ECE
5      69     Trishit Ghosh   21  CSE IOTCSBT
8       9                22   22          ECE

### Question 11
Add a new column.

In [11]:
# ---------- ADD COLUMN ----------
new_col = input("\nEnter new column name: ")
new_val = input("Enter value for all rows: ")
df[new_col] = new_val
print("\nAfter adding column:\n", df)

Enter new column name:  AdmnYr
Enter value for all rows:  2024

After adding column:
    Rollno              Name  Age   Department AdmnYr
0     179   Alokparna Mitra   21          CSE   2024
1     248  Debarghaya Mitra   21          CSE   2024
2      68    Subhoshree Das   20  CSE IOTCSBT   2024
3      22     Anirban Barai   21          ECE   2024
4      86      Abhranil Das   20          EEE   2024
5      69     Trishit Ghosh   21  CSE IOTCSBT   2024
6     204      Diptomoy Das   19       CSE AI   2024
7     222      Aihir Sarkar   19       CSE AI   2024
8       9                22   22          ECE   2024
9      10              Shib   18          ECE   2024

### Question 12
Delete a column.

In [12]:
# ---------- DELETE COLUMN ----------
print("\nAvailable Columns:")
print(list(df.columns))
del_col = input("Enter column to delete: ")
df.drop(del_col, axis=1, inplace=True)
print("\nAfter deleting column:\n", df)

Available Columns:
['Rollno', 'Name', 'Age', 'Department', 'AdmnYr']

Enter column to delete:  AdmnYr

After deleting column:
    Rollno              Name  Age   Department
0     179   Alokparna Mitra   21          CSE
1     248  Debarghaya Mitra   21          CSE
2      68    Subhoshree Das   20  CSE IOTCSBT
3      22     Anirban Barai   21          ECE
4      86      Abhranil Das   20          EEE
5      69     Trishit Ghosh   21  CSE IOTCSBT
6     204      Diptomoy Das   19       CSE AI
7     222      Aihir Sarkar   19       CSE AI
8       9                22   22          ECE
9      10              Shib   18          ECE