# Assignment 2 - Class Work
## Topic: To understand creation and manipulation of DataFrames using Pandas.

### Question 1
Create one dataframe for the student record of 10 students with student basic information such as Rollno, name, age, Department.

In [1]:
import pandas as pd

# ---------- FAKE DATA FOR 10 STUDENTS ----------
data = {
    "Rollno": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Name": ["Rahul", "Ananya", "Vikram", "Sneha", "Arjun",
             "Priya", "Karan", "Neha", "Rohan", "Ishita"],
    "Age": [20, 21, 19, 22, 20, 23, 21, 20, 22, 19],
    "Department": ["CSE", "ECE", "ME", "CSE", "EE",
                   "IT", "CSE", "ECE", "ME", "IT"]
}

df = pd.DataFrame(data)

print("\nDATAFRAME:\n")
print(df)

DATAFRAME:

   Rollno    Name  Age Department
0     101   Rahul   20        CSE
1     102  Ananya   21        ECE
2     103  Vikram   19         ME
3     104   Sneha   22        CSE
4     105   Arjun   20         EE
5     106   Priya   23         IT
6     107   Karan   21        CSE
7     108    Neha   20        ECE
8     109   Rohan   22         ME
9     110  Ishita   19         IT

### Question 2
Display starting 5 rows and end 5 rows.

In [2]:
# ---------- HEAD & TAIL ----------
k = int(input("\nHow many rows to show from start & end? "))
print("\nFirst rows:\n", df.head(k))
print("\nLast rows:\n", df.tail(k))

How many rows to show from start & end?  5

First rows:
    Rollno    Name  Age Department
0     101   Rahul   20        CSE
1     102  Ananya   21        ECE
2     103  Vikram   19         ME
3     104   Sneha   22        CSE
4     105   Arjun   20         EE

Last rows:
    Rollno    Name  Age Department
5     106   Priya   23         IT
6     107   Karan   21        CSE
7     108    Neha   20        ECE
8     109   Rohan   22         ME
9     110  Ishita   19         IT

### Question 3
Print number of rows and columns.

In [3]:
# ---------- ROWS & COLUMNS ----------
print("\nNumber of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 10
Number of columns: 4

### Question 4
Print shape and description of dataset.

In [4]:
# ---------- SHAPE & DESCRIPTION ----------
print("\nShape:", df.shape)
print("\nDescription:\n", df.describe())

Shape: (10, 4)

Description:
           Rollno        Age
count   10.00000  10.000000
mean   105.50000  20.700000
std      3.02765   1.337494
min    101.00000  19.000000
25%    103.25000  20.000000
50%    105.50000  20.500000
75%    107.75000  21.750000
max    110.00000  23.000000

### Question 5
Print column name.

In [5]:
# ---------- COLUMN NAMES ----------
print("\nAvailable Columns:")
print(list(df.columns))

Available Columns:
['Rollno', 'Name', 'Age', 'Department']

### Question 6
Print data description and data info.

In [6]:
# ---------- DATA DESCRIPTION ----------
print("\nData Description:")
print(df.describe())

# ---------- DATA INFO ----------
print("\nData Info:")
df.info()

Data Description:
          Rollno        Age
count   10.00000  10.000000
mean   105.50000  20.700000
std      3.02765   1.337494
min    101.00000  19.000000
25%    103.25000  20.000000
50%    105.50000  20.500000
75%    107.75000  21.750000
max    110.00000  23.000000

Data Info:
<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rollno      10 non-null     int64
 1   Name        10 non-null     str
 2   Age         10 non-null     int64
 3   Department  10 non-null     str
dtypes: int64(2), str(2)
memory usage: 452.0 bytes

### Question 7
Print a particular column.

In [7]:
# ---------- ONE COLUMN ----------
col = input("\nEnter column name to display: ")
print(df[col])

Enter column name to display:  Age

0    20
1    21
2    19
3    22
4    20
5    23
6    21
7    20
8    22
9    19
Name: Age, dtype: int64

### Question 8
Print two columns.

In [8]:
# ---------- TWO COLUMNS ----------
print("\nAvailable Columns:")
print(list(df.columns))
c1 = input("Enter first column: ")
c2 = input("Enter second column: ")
print(df[[c1, c2]])

Available Columns:
['Rollno', 'Name', 'Age', 'Department']

Enter first column:  Name
Enter second column:  Department

     Name Department
0   Rahul        CSE
1  Ananya        ECE
2  Vikram         ME
3   Sneha        CSE
4   Arjun         EE
5   Priya         IT
6   Karan        CSE
7    Neha        ECE
8   Rohan         ME
9  Ishita         IT

### Question 9
Print one and multiple rows.

In [9]:
# ---------- ROW SELECTION ----------
opt = input("\nSingle row or multiple rows? (single/multiple): ")

if opt == "single":
    idx = int(input("Enter row index: "))
    print(df.loc[idx])
else:
    s = int(input("Start index: "))
    e = int(input("End index: "))
    print(df.loc[s:e])

Single row or multiple rows? (single/multiple):  multiple
Start index:  4
End index:  9

   Rollno    Name  Age Department
4     105   Arjun   20         EE
5     106   Priya   23         IT
6     107   Karan   21        CSE
7     108    Neha   20        ECE
8     109   Rohan   22         ME
9     110  Ishita   19         IT

### Question 10
Print row based on condition.

In [10]:
# ---------- CONDITIONAL ROW ----------
print("\nAvailable Columns:")
print(list(df.columns))
cond_col = input("Enter column for condition: ")
val = int(input("Enter value (greater than): "))
print(df[df[cond_col] > val])

Available Columns:
['Rollno', 'Name', 'Age', 'Department']

Enter column for condition:  Age
Enter value (greater than):  21

   Rollno   Name  Age Department
3     104  Sneha   22        CSE
5     106  Priya   23         IT
8     109  Rohan   22         ME

### Question 11
Add a new column.

In [11]:
# ---------- ADD COLUMN ----------
new_col = input("\nEnter new column name: ")
new_val = input("Enter value for all rows: ")
df[new_col] = new_val
print("\nAfter adding column:\n", df)

Enter new column name:  AdmYear
Enter value for all rows:  2024

After adding column:
    Rollno    Name  Age Department AdmYear
0     101   Rahul   20        CSE    2024
1     102  Ananya   21        ECE    2024
2     103  Vikram   19         ME    2024
3     104   Sneha   22        CSE    2024
4     105   Arjun   20         EE    2024
5     106   Priya   23         IT    2024
6     107   Karan   21        CSE    2024
7     108    Neha   20        ECE    2024
8     109   Rohan   22         ME    2024
9     110  Ishita   19         IT    2024

### Question 12
Delete a column.

In [12]:
# ---------- DELETE COLUMN ----------
print("\nAvailable Columns:")
print(list(df.columns))
del_col = input("Enter column to delete: ")
df.drop(del_col, axis=1, inplace=True)
print("\nAfter deleting column:\n", df)

Available Columns:
['Rollno', 'Name', 'Age', 'Department', 'AdmYear']

Enter column to delete:  AdmYear

After deleting column:
    Rollno    Name  Age Department
0     101   Rahul   20        CSE
1     102  Ananya   21        ECE
2     103  Vikram   19         ME
3     104   Sneha   22        CSE
4     105   Arjun   20         EE
5     106   Priya   23         IT
6     107   Karan   21        CSE
7     108    Neha   20        ECE
8     109   Rohan   22         ME
9     110  Ishita   19         IT