# Assignment 2 - Assignment
## Topic: To understand creation and manipulation of DataFrames using Pandas.

### Question 1
Create the Employee DataFrame The employee dataset contains the following columns:

Emp_ID, Name, Age, Department, Designation, Salary, Experience, City

The dataset consists of 10 employee records.

In [1]:
import pandas as pd

# ---------- SAMPLE DATASET (ONLY FOR CREATION) ----------
data = {
    "Emp_ID": [101,102,103,104,105,106,107,108,109,110],
    "Name": ["Amit","Riya","Rahul","Sneha","Karan","Neha","Ankit","Pooja","Rohit","Simran"],
    "Age": [28,26,30,27,29,25,31,28,26,27],
    "Department": ["IT","HR","IT","Finance","IT","HR","Finance","IT","HR","IT"],
    "Designation": ["Engineer","HR Exec","Developer","Analyst","Manager",
                    "HR Exec","Accountant","Developer","HR Exec","Engineer"],
    "Salary": [60000,45000,70000,50000,80000,42000,48000,65000,46000,72000],
    "Experience": [5,3,6,4,8,2,5,6,3,7],
    "City": ["Kolkata","Delhi","Mumbai","Pune","Bangalore",
             "Delhi","Chennai","Hyderabad","Pune","Bangalore"]
}


df = pd.DataFrame(data)
print("\nEMPLOYEE DATAFRAME:\n", df)

EMPLOYEE DATAFRAME:
    Emp_ID    Name  Age Department Designation  Salary  Experience       City
0     101    Amit   28         IT    Engineer   60000           5    Kolkata
1     102    Riya   26         HR     HR Exec   45000           3      Delhi
2     103   Rahul   30         IT   Developer   70000           6     Mumbai
3     104   Sneha   27    Finance     Analyst   50000           4       Pune
4     105   Karan   29         IT     Manager   80000           8  Bangalore
5     106    Neha   25         HR     HR Exec   42000           2      Delhi
6     107   Ankit   31    Finance  Accountant   48000           5    Chennai
7     108   Pooja   28         IT   Developer   65000           6  Hyderabad
8     109   Rohit   26         HR     HR Exec   46000           3       Pune
9     110  Simran   27         IT    Engineer   72000           7  Bangalore

### Question 2
Display first 5 records

In [2]:
# ---------- FIRST N RECORDS ----------
n = int(input("\nEnter number of records to display from start: "))
print(df.head(n))

Enter number of records to display from start:  5

   Emp_ID   Name  Age Department Designation  Salary  Experience       City
0     101   Amit   28         IT    Engineer   60000           5    Kolkata
1     102   Riya   26         HR     HR Exec   45000           3      Delhi
2     103  Rahul   30         IT   Developer   70000           6     Mumbai
3     104  Sneha   27    Finance     Analyst   50000           4       Pune
4     105  Karan   29         IT     Manager   80000           8  Bangalore

### Question 3
Display the last 3 records.

In [3]:
# ---------- LAST N RECORDS ----------
m = int(input("\nEnter number of records to display from end: "))
print(df.tail(m))

Enter number of records to display from end:  3

   Emp_ID    Name  Age Department Designation  Salary  Experience       City
7     108   Pooja   28         IT   Developer   65000           6  Hyderabad
8     109   Rohit   26         HR     HR Exec   46000           3       Pune
9     110  Simran   27         IT    Engineer   72000           7  Bangalore

### Question 4
Find shape of DataFrame

In [4]:
# ---------- SHAPE ----------
print("\nShape of DataFrame:", df.shape)

Shape of DataFrame: (10, 8)

### Question 5
Display column names

In [5]:
# ---------- COLUMN NAMES ----------
print("\nColumn Names:")
print(list(df.columns))

Column Names:
['Emp_ID', 'Name', 'Age', 'Department', 'Designation', 'Salary', 'Experience', 'City']

### Question 6
Check missing values

In [6]:
# ---------- MISSING VALUES ----------
print("\nMissing Values in each column:")
print(df.isnull().sum())

Missing Values in each column:
Emp_ID         0
Name           0
Age            0
Department     0
Designation    0
Salary         0
Experience     0
City           0
dtype: int64

### Question 7
Find average salary

In [7]:
# ---------- AVERAGE SALARY ----------
print("\nAvailable Columns:", list(df.columns))
sal_col = input("Enter salary column name: ")
print("Average Salary:", df[sal_col].mean())

Available Columns: ['Emp_ID', 'Name', 'Age', 'Department', 'Designation', 'Salary', 'Experience', 'City']

Enter salary column name:  Salary

Average Salary: 57800.0

### Question 8
Print the employee information where Salary greater than 50000

In [8]:
# ---------- SALARY CONDITION ----------
value = int(input("\nEnter salary value to filter greater than: "))
print(df[df[sal_col] > value])

Enter salary value to filter greater than:  50000

   Emp_ID    Name  Age Department Designation  Salary  Experience       City
0     101    Amit   28         IT    Engineer   60000           5    Kolkata
2     103   Rahul   30         IT   Developer   70000           6     Mumbai
4     105   Karan   29         IT     Manager   80000           8  Bangalore
7     108   Pooja   28         IT   Developer   65000           6  Hyderabad
9     110  Simran   27         IT    Engineer   72000           7  Bangalore

### Question 9
Count IT Department employees

In [9]:
# ---------- COUNT IT DEPARTMENT ----------
dept_name = input("\nEnter department name to count: ")
print("Employee Count:", (df["Department"] == dept_name).sum())

Enter department name to count:  IT

Employee Count: 5

### Question 10
Print Employee count per department

In [10]:
# ---------- EMPLOYEE COUNT PER DEPARTMENT ----------
print("\nEmployee count per department:")
print(df["Department"].value_counts())

Employee count per department:
Department
IT         5
HR         3
Finance    2
Name: count, dtype: int64

### Question 11
Print Max and Min salary

In [11]:
# ---------- MAX & MIN SALARY ----------
print("\nMaximum Salary:", df[sal_col].max())
print("Minimum Salary:", df[sal_col].min())

Maximum Salary: 80000
Minimum Salary: 42000

### Question 12
Save DataFrame to CSV

In [12]:
# ---------- SAVE TO CSV ----------
file_name = input("\nEnter CSV file name to save (with .csv): ")
df.to_csv(file_name, index=False)
print("Data saved successfully")

Enter CSV file name to save (with .csv):  Assignment_2b.csv

Data saved successfully